@import "../variables.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

.header {
  margin-top: 0;
  background: #27402e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 5em;
}
.header .logo {
  display: grid;
  justify-content: center;
  place-items: center;
  object-fit: cover;
  margin-left: -2em;
}

.imgLogo {
  max-height: 5em;
  width: 150%;

  border-radius: 50%;
  display: block;
  object-fit: cover;
  height: 100vh;
}
.header .links {
  display: flex;
  text-decoration: none;
  text-align: right;
  align-items: center;
  margin-left: auto;
}
.link {
  color: #f2eee9;
  text-decoration: none;
  margin-left: auto;
  padding: 10px;
  font-size: 1.3em;
}

.header .social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.link_social {
  padding: 10px;
  color: #f2eee9;
}

@media (max-width: 890px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header .social {
    display: none;
  }
  .link {
    margin-right: 1em;
  }
}
